body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.top-header {
    position : sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 60px;
    background: #f4f4f4;
    font-size: 14px;
    gap: 15px;

}

.icon{
    gap: 1px;
}

.top-header a {
    text-decoration: none;
    color: black;
}

.top-header a {
    text-decoration: none;
    margin: 0;
    padding: 0 10px;
    border-right: 1px solid #ccc; 
}

.top-header a:last-child {
    border-right: none; 
}

.top-header a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 120px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 50px;
    background: white;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 35px;
    z-index: 999 ;
   
}

.navbar img {
    height: 20px;
}

.nav-links {
    display: flex;
    gap: 50px;
    flex-grow: 1;
    justify-content: center;
    margin-left: 180px;
    margin-top: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.navbar input[type=text] {
    border: 1px solid #ccc;
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding-left: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 300px;
}

.search-icon {
    font-size: 15px;
    margin-right: 10px;
    
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 100%;
    color: #333;
}

.search-box input::placeholder {
    color: #999;
    font-size: 16px;
}


.discount-bar {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1px;
    font-size: 14px;
    font-weight: bold;
}

.heroimg {
    background-image: url('https://www.gymshark.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Fwl6q2in9o7k3%2FN9juVqTe1ra3UgKIN5ET8%2Fce1148f6d93d56d721134a1b5b8d7c2e%2FAdobe_Express_-_file__1_.png&w=1920&q=85');
    color: rgb(0, 0, 0);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: left;
    padding: 150px 50px;
}

.hero-text {
    width: 500px;
    margin-right: 25px;
    margin-bottom: 35px;

}

.hero-text h1 {
    color: rgb(255, 255, 255);
    font-size: 45px;
    max-width: 500px;
}

.hero-text p {
    color: white;
    font-size: 16px;
    max-width: 800px;
}

.heroimg button {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
}

.new-in {
    margin-left: 60px;
    text-align: left;

}

.new-in h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 40px;
}

.new-in .new-text {
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
}

.new-in a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.new-in a:hover {
    text-decoration: underline;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    padding: 20px;
    width: 300px;
    text-align: center;
    background: white;
    border-radius: 10px;
}

.product img {
    width: 130%;
    height: auto;
    border-radius: 1px;
}

.wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.wishlist-icon:hover {
    color: red;
}

.videocontainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    width: 100%;
    overflow: hidden;
}

.videocontainer video {}


.overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);

}

.btn {
    background: white;
    color: black;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 18px;
}

.videocontainer h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.videocontainer p {
    color: white;
    font-size: 1.2rem;
    margin: 10px 0;
}

.mensection {
    padding-left: 10px;
    padding-bottom: 30px;
}

.mensection h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 40px;
}

.mencontainer {
    position: relative;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
}

.men {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.men::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.look-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.look-btn:hover {
    background: rgba(0, 0, 0, 0.9);
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.7;
    transition: 0.3s;
}

.prev-btn:hover,
.next-btn:hover {
    opacity: 1;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.seoblocksection {
    margin-left: 60px;
}

.category-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px;
}

.category {
    width: 20%;
    padding: 20px;
    background: white;
    border-radius: 15px;
}

.category h5 {

    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;

}

.category li {
    list-style: none;
    color: #333;
    font-size: 1rem;
    margin-bottom: 5px;
    cursor: pointer;
}

.seoblock a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.seoblock {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 40px;
}

.footer {
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc; 
    padding-bottom: 10px;
    

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}


.footer-section {
    width: 20%;
}

.footer-section h4 {
    font-size: 14px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.more-about {
    width: 40%;
}

.more-about-links {
    display: flex;
    gap: 20px;
}

.about-box {
    text-align: center;
    width: 100px;
}

.about-box img {
    width: 100px;
    height: auto;
    background: black;
}

.about-box p {
    font-weight: bold;
    margin-top: 5px;
}

.copyright{
    margin-left: 60px;
}







